@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/Montserrat/Montserrat.ttf') format('truetype');
}

.svg-background {
  background-image: url('./background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}


body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: inherit;
  flex: 1;
}

.app-padding {
  padding: 25px 25px;
}

.logo {
  -webkit-user-drag: none;
  height: 128px;
  width: 128px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1.2em #6988e6aa);
}

.mapboxgl-control-container {
  display: none;
}