@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('../fonts/segoe-ui-4/Segoe_UI.woff') format('woff');
}

body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: inherit;
  flex: 1;
  padding: 15px 25px;
}

.logo {
  -webkit-user-drag: none;
  height: 128px;
  width: 128px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1.2em #6988e6aa);
}



.grad {
  background: linear-gradient(180deg, #1E1A1B 0%, #171414 100%);
}