.btnStyle {
  display: flex;
  width: 131.683px;
  height: 131.683px;
  padding: 15.05px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.271px;
  flex-shrink: 0;
  border-radius: 87.162px;
  border: 1.254px solid #CC2229;
  background: #101921;

}


@keyframes shadow-pulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(67, 0, 3, 1);
  }

  50% {
    box-shadow: 0px 0px 60px 3px rgba(67, 0, 3, 1);
  }

  100% {
    box-shadow: 0px 0px 0px 0px rgba(67, 0, 3, 1);
  }
}